* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
}

:root {
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
/* Reutilizables */
.fontF-title {
  font-family: "IBM Plex Sans", sans-serif;
}

.btn {
  background: #00f3bb;
  border: none;
  height: 56px;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #060a24;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 240, 184, 1) 0%,
    rgba(0, 0, 254, 1) 100%
  );
  color: white;
}

.font_size_titulo {
  font-size: 4.6rem;
  font-weight: lighter;
}

.font_size_texto {
  font-size: 1.6rem;
}

.ttl_blanco {
  color: white;
}
/* fin reutilizables */

/* scroll personalizado */
.contenedor-global::-webkit-scrollbar {
  width: 8px;
  background: rgb(200, 190, 180);
}

.contenedor-global::-webkit-scrollbar-thumb {
  background: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  border-radius: 10px;
}
/* Fin scroll personalizado */

/* Menu Desktop*/
.navbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
}

.logo-container {
  width: 12%;
  display: flex;
  justify-content: center;
}

.logo-container .logo {
  width: 36px;
  height: 36px;
  user-select: none;
}

.menu-container {
  width: 50%;
  position: absolute;
  right: 10px;
}

.menu {
  width: 100%;
  font-size: 1.6rem;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.menu .nav {
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: all 0.5s ease;
}

.menu .nav:hover {
  color: #00f3bb;
  text-decoration: line-through;
}

/* fin Menu Desktop*/

/* Menu Mobile*/
.burger {
  margin-right: 20px;
  display: none;
  user-select: none;
}

.linea {
  width: 20px;
  height: 2px;
  background-color: black;
  margin: 5px;
  transition: all 0.2s ease;
}

.menu-mobile {
  background: rgb(0, 0, 236);
  font-size: 1.6rem;
  position: absolute;
  top: 80px;
  width: 100%;
  transform: translateY(-140%);
  transition: all 0.7s ease;
  z-index: -1;
}

.menu-mobile-item {
  height: 50px;
  display: flex;
  transition: all 0.5s ease;
  list-style-type: none;
}

.menu-mobile-item .nav {
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  padding: 14px 0 0 20px;
}

.check-menu {
  display: none;
}

.check-menu:checked ~ .menu-mobile {
  transform: translateY(0);
}

.check-menu:checked + .container-burger .burger .linea-top {
  transform: translate(0%, 330%) rotate(45deg);
}

.check-menu:checked + .container-burger .burger .linea-med {
  opacity: 0;
}

.check-menu:checked + .container-burger .burger .linea-low {
  transform: translate(0%, -363%) rotate(-45deg);
}
/* fin Menu Mobile*/

/* Sección hello world */
.hello-world {
  padding: 115px 0 0 145px;
  height: 369px;
}

.titleH {
  font-size: 5.9rem;
  font-weight: lighter;
}

.dot {
  color: #0000ec;
}

.description {
  width: 590px;
  margin-top: 10px;
}

.btn-conoce-mas {
  width: 226px;
  margin-top: 60px;
}

.world {
  text-decoration: line-through;
}
/* fin Sección hello world */

/* Sección Episodios */
.episodios {
  background: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  height: 1042px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
  position: relative;
}

.tituloE {
  position: absolute;
  left: 150px;
  top: 174px;
}

.podcast_container {
  width: 93.3%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 232px);
  grid-gap: 72px;
}

/* fin Sección Episodios */

/* Sección de donde venimos */
.de-donde-venimos {
  height: 520px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contenedor-phone {
  position: relative;
}

.phone {
  width: 387px;
  height: 610px;
  position: absolute;
  top: -175px;
  left: 24%;
}

.informacion {
  width: 464px;
  display: flex;
  flex-direction: column;
  grid-column: 2;
}

.tituloDDV {
  margin-bottom: 24px;
}

.p2 {
  margin-top: 15px;
}
/* Fin sección de donde venimos */

/* sección invitadas/os estelares */
.tituloIE {
  margin: 0px 0 36px 150px;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  grid-template-rows: repeat(2, 1fr);
}

.img {
  width: 100%;
  height: 100%;
}
/* Fin sección invitadas/os estelares */

/* sección algunos de nuestros temas */
.nuestros-temas {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0 30px 0;
}

.tituloANT {
  width: 80%;
  margin-bottom: 80px;
}

.imagenes {
  height: 198px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contenedor-temas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagenes .contenedor-temas .tema {
  margin-top: 20px;
  font-size: 2.4rem;
  width: 220px;
  font-weight: bold;
  text-align: center;
}
/* fin sección algunos de nuestros temas */

/* sección ultimas novedades */
.ultimas-novedades {
  height: 518px;
  background: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0% 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tituloQUN {
  margin: 36px 0;
}

.btn-escucha-episodios {
  width: 345px;
}
/* fin sección ultimas novedades */

/* Footer*/
.footer {
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cpr {
  font-size: 1.6rem;
  margin-left: 100px;
}

.redes-sociales {
  display: flex;
  width: 260px;
  justify-content: space-evenly;
  margin-right: 100px;
  font-size: 1.8rem;
}

.redes-sociales .iconos {
  text-decoration: none;
  cursor: pointer;
  color: #060a24;
}

.redes-sociales .iconos .sptf:hover {
  color: #00bb2d;
}

.redes-sociales .iconos .instgrm:hover {
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  -webkit-background-clip: text;
  color: transparent;
}

.redes-sociales .iconos .twttr:hover {
  color: #00acee;
}

.redes-sociales .iconos .fcbk:hover {
  color: #3b5998;
}

.redes-sociales .iconos .tlgrm:hover {
  color: #0088cc;
}
/* fin Footer*/

/* Media Queries mobile*/
@media screen and (min-width: 320px) and (max-width: 767px) {
  /* Reutilizables */
  .btn {
    height: 48px;
    font-size: 1.6rem;
  }

  .font_size_titulo {
    font-size: 3.6rem;
  }

  .font_size_texto {
    font-size: 1.4rem;
  }
  /* fin Reutilizables */

  /* header logo */
  .navbar {
    height: 44px;
  }

  .logo-container {
    margin-left: 8px;
  }

  .logo-container .logo {
    width: 24px;
    height: 24px;
  }
  /* fin header logo */

  /* menu hamburger */
  .menu-container {
    display: none;
  }

  .burger {
    display: block;
  }

  .menu-mobile {
    top: 44px;
  }
  /* fin menu hamburger */

  /* sección hello world */
  .hello-world {
    padding: 74px 0 0 5%;
    height: 380px;
  }

  .titleH {
    font-size: 3.6rem;
    width: 77%;
  }

  .description {
    width: 90%;
    margin-top: 10px;
  }

  .btn-conoce-mas {
    width: 95%;
    margin-top: 35px;
  }
  /* fin sección hello world */

  /* Sección Episodios */
  .episodios {
    height: 1215px;
    clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0% 100%);
  }

  .tituloE {
    left: 7%;
    top: 60px;
  }

  .podcast_container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 225px);
    grid-gap: 18px;
  }
  /* fin sección Episodios */

  /* Sección de donde venimos */
  .de-donde-venimos {
    height: 760px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  .contenedor-phone {
    position: relative;
  }

  .informacion {
    grid-row: 2;
    width: 95%;
    padding-left: 15px;
    display: flex;
    justify-content: center;
  }

  .phone {
    width: 320px;
    height: 479px;
    position: absolute;
    top: -90px;
    left: 0;
    user-select: none;
  }

  .tituloDDV {
    margin-bottom: 10px;
  }
  /* Fin sección de donde venimos */

  /* sección invitadas/os estelares */
  .tituloIE {
    margin: 40px 0 14px 15px;
  }

  .container-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  /* Fin sección invitadas/os estelares */

  /* sección algunos de nuestros temas */
  .nuestros-temas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 0 30px 0;
  }

  .tituloANT {
    width: 90%;
    margin-bottom: 5px;
  }

  .imagenes {
    height: 860px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .contenedor-temas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imagenes .contenedor-temas .tema {
    margin-top: 10px;
    font-size: 2.4rem;
    width: 220px;
    font-weight: bold;
    text-align: center;
  }
  /* fin sección algunos de nuestros temas */

  /* sección ultimas novedades */
  .ultimas-novedades {
    height: 341px;
    background: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    clip-path: polygon(0 8%, 100% 0%, 100% 100%, 0% 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tituloQUN {
    margin: 36px 0;
    width: 190px;
    text-align: center;
  }

  .btn-escucha-episodios {
    width: 288px;
  }
  /* fin sección ultimas novedades */

  /* Footer*/
  .footer {
    height: 121px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0;
  }

  .cpr {
    font-size: 1.6rem;
    margin-left: 0px;
  }

  .redes-sociales {
    display: flex;
    width: 260px;
    justify-content: space-between;
    margin-right: 0px;
    font-size: 1.8rem;
  }

  .redes-sociales .iconos {
    text-decoration: none;
    cursor: pointer;
    color: #060a24;
  }
  /* fin Footer*/
}
/* Fin Media Queries mobile*/

/*media query Tablet*/
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .font_size_titulo {
    font-size: 4rem;
  }

  .font_size_texto {
    font-size: 1.5rem;
  }

  /* Menu */
  .navbar {
    height: 60px;
  }

  .menu-container {
    width: 55%;
  }
  /* Fin Menu */

  /* Sección hello world */
  .hello-world {
    padding: 80px 0 0 100px;
  }

  .titleH {
    font-size: 5rem;
  }

  .btn-conoce-mas {
    margin-top: 50px;
  }
  /* fin sección hello world*/

  /* Sección Episodios */
  .tituloE {
    position: absolute;
    left: 10%;
    top: 14%;
  }

  .episodios {
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
    height: 900px;
  }

  .podcast_container {
    grid-gap: 30px;
  }
  /* fin sección Episodios */

  /* Sección de donde venimos */
  .de-donde-venimos {
    height: 470px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .contenedor-phone {
    position: relative;
  }

  .phone {
    width: 357px;
    height: 580px;
    position: absolute;
    top: -140px;
    left: 9%;
  }

  .informacion {
    width: 400px;
    grid-column: 2;
  }

  /* Fin sección de donde venimos */

  /* sección algunos de nuestros temas */
  .nuestros-temas {
    padding: 40px 0 10px 0;
  }

  .tituloANT {
    margin-bottom: 50px;
  }

  .imagenes {
    width: 100%;
    justify-content: space-evenly;
  }

  .imagenes .contenedor-temas .icono-tema {
    width: 70px;
  }

  .imagenes .contenedor-temas .tema {
    margin-top: 15px;
    font-size: 1.8rem;
    width: 150px;
    font-weight: bold;
    display: inline-block;
  }
  /* fin sección algunos de nuestros temas */

  /* sección ultimas novedades */
  .ultimas-novedades {
    height: 320px;
    background: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0% 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* fin sección ultimas novedades */
}
/*Fin media query Tablet*/
/* sección ultimas novedades */
